/*因为一开始做的时候从手机端开始做起的，所以，使用媒体查询的时候没有从最大的分辨率入手，
而是从小的入手，因为觉得设置min-width属性来做也差不多。。。*/
*{
	margin: 0;
	padding: 0;
	list-style: none;
	font-family:'微软雅黑';
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
/*iphone6部分*/
/*头部有色块*/
header{
	background: #7ea6ae;
	height: 80px;
	line-height: 80px;
	width: 100%;
	color: #fff;
	text-align: center;
	color: #fff;
	font-size: 24px;
	
}
/*头部中间文字*/
header span{
	margin-left: 70px;
}
/*头部右侧方块按钮*/
header .btn{
	float: right;
	margin-right: 30px;
	font-size: 24px;
	color: #B2C5CC;
	cursor:pointer;
	margin-top: 18px;
}
/*ul列表移出头部，隐藏起来*/
.list{
	display: flex;
	flex-wrap: wrap;
	transform: translateY(-285px);
	position: relative;
	z-index: 99;
}
/*设置头部列表项导航栏样式*/
.list li{
	float: left;
	width: 100%;
	border-bottom:.5px solid #B2C5CC;
	background: #7ea6ae;
	text-align: center;
	height: 40px;
	line-height: 40px;
			
}
/*导航项字体默认颜色*/
.list li>a{
	color: #757575;
}
/*鼠标经过导航项字体时，字体颜色过渡变化*/
.list li>a:hover,.list a.active{
	transition-property: color;
	transition-duration: .5s;
	transition-timing-function: ease-in-out;
	color: #afafaf;
}
/*鼠标单击头部右侧按钮之后，导航项过渡显示出来*/
.down{
	transform: translateY(0px);
	transition: transform;
	transition-duration: .5s;
}
/*头部以下的logo、文字、按钮部分*/
/*设置大容器的背景色*/
section:nth-child(1){
	background-color: #b3c6cd;
	padding-bottom: 50px;
}
/*因为开始有移动导航栏，下面的位置有点跑偏，所以定了个位，回归正常*/
section:nth-child(1) .container .logo{
	position: relative;
	top: -160px;
	text-align: center;
}
section:nth-child(1) .container .text{
	position: relative;
	top: -130px;
	text-align: center;
	color: #fff;
	font-size: 20px;
	font-family: '宋体';
}
section:nth-child(1) .container .start{
	position: relative;
	top: -60px;
	text-align: center;
}
/*设置中间按钮的样式*/
section:nth-child(1) .container .start button{
	width: 180px;
	height: 50px;
	border: 0px;
}
/*鼠标经过按钮时，背景颜色过渡变化*/
section:nth-child(1) .container .start button:hover{
	transition-property: background-color;
	transition-timing-function: ease-in-out;
	transition-duration: .5s;
	background-color: rgb(255, 255, 255);
}






/*平分页面宽度的文字部分*/
section:nth-child(3) .title{
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	padding: 20px 0;
	width: 100%;
	border-bottom: 1px solid #ccc;
}
section:nth-child(3) .title>li{
	font-size: 12px;
	width: 23%;
	text-align: center;
}
section:nth-child(3) .title>li>a{
	color: #bababa;
}
/*鼠标滑过来链接文字时,文字颜色过渡变化*/
section:nth-child(2) .title>li>a.active,section:nth-child(2) .title>li>a:hover{
	transition-property: color;
	transition-timing-function: ease-in-out;
	transition-duration: .5s;
	color: #545454;
}
/*有标题和段落文字的部分*/
section:nth-child(3) .paragraph{
	width: 55%;
	margin: 70px auto;
}
/*标题*/
section:nth-child(3) .paragraph h2{
	margin-bottom: 20px;
	text-align: center;
	line-height: 36px;
}
/*段落*/
section:nth-child(3) .paragraph p{
	text-align: left;
	color: #bbb;
	font-size: 12px;
	line-height: 2.0em;
}
/*上边是文字,下边是慕课网链接的部分*/
section:nth-child(3) .foot{
	text-align: center;
	height: 100px;
	width: 100%;
	background-color:#eee;
	font-family: "宋体";
	margin-bottom: 40px;
}
/*虽然写的是.left,但这个是上部*/
section:nth-child(3) .foot .left{
	height: 40px;
	line-height: 40px;
	font-size: 20px;
	padding-top: 10px;
}
/*虽然写的是.right,但这个是下部*/
section:nth-child(3) .foot .right{
	height: 40px;
	line-height: 40px;
}
/*下部的左侧和右侧文字颜色样式*/
section:nth-child(3) .foot .right .right_first{
	color: #bababa;
}
section:nth-child(3) .foot .right .right_second a{
	color: #000;
}
/*图片区域*/
section.pics{
	padding-top: 10px;
	background: url(../img/bg.jpg);
}
section.pics p{
	padding: 5px 10px;
}
section.pics .box{
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 30px;
	overflow: hidden;
	width: 100%;
	/*height: 400px;*/
	justify-content: space-around;

}
section.pics .box>div{
	width: 44%;
	height: 100px;
	margin:8px;

}
section.pics .box>div img{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
/*底部*/
footer{
	text-align: center;
	width: 100%;
	height: 80px;
	background-color: #ccc;
	line-height: 80px;
	font-size: 12px;
}

.layer{
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.5;
	z-index: 99999;
	position:fixed;
	top: 0;
	left: 0;
	display:none;
}
.layer-mask{
	width: 85%;
	height: 300px;
	background-color: #b3c6cd;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin:auto;
	z-index: 100000;
	opacity: 0.9;
	display: none;
}
.layer-mask .close{
	width: 30px;
	height: 30px;
	line-height: 30px;
	border-radius: 50%;
	float: right;
	/*border:1px solid #fff;*/
	text-align: center;
	margin-top: -15px;
	margin-right: -15px;
	background-color: #b3c6cd;
	color: #fff;
	opacity: 0.5;
}
.layer-mask .close:hover{
	transition-property: background-color,color;
	transition-timing-function: ease-in-out;
	transition-duration: .3s;
	cursor: pointer;
	background-color: #afafaf;
	color: #b3c6cd;
}
.inp{
	/*background-color: red;*/
	display: flex;
	flex-direction: column;
	width: 90%;
	height: 250px;
	margin: 20px auto;
	align-items: space-between;
	justify-content: space-around;
	padding: 30px;
}
.inp .input-group-addon{
	border-radius: 5px 0 0 5px;
}

.inp>#submit{
	background-color: #eee;
	height: 35px;
	border: 0px;
	border-radius: 5px;
}
.inp>#submit:hover{
	border:1px solid #afafaf;
	background-color: #afafaf;
	border-radius: 5px;
	color: #b3c6cd;
}


.slide-banner{
		width: 100%;
		height: 320px;
		background-color: #b3c6cd;
	}
	.slide-banner .main{
		width: 100%;
		height: 260px;
		/*padding: 10px;*/
		background-color: #bbb;
		margin:0px auto;
		position: relative;
		/*overflow: hidden;*/
	}
	.slide-banner .banner{
		width: 100%;
		height: 260px;
		margin:0px auto;
		/*overflow: hidden;	*/
		position: relative;
		
	}
	.slide-banner .slider{
		width: 100%;
		height: 260px;
		background-repeat: no-repeat;
		margin: 0 auto;
		position: absolute;
		display: none;

	}
	.slide-banner .now{
		display: block;
	}
	.slide-banner .slider1{
		background-image: url('../images/1.jpg');
		background-size: 100% 100%;
	}
	.slide-banner .slider2{
		background-image: url('../images/2.jpg');
		background-size: 100% 100%;
	}
	.slide-banner .slider3{
		background-image: url('../images/3.jpg');
		background-size: 100% 100%;
	}
	.slide-banner .slider4{
		background-image: url('../images/4.jpg');
		background-size: 100% 100%;
	}
	.slide-banner .slider5{
		background-image: url('../images/5.jpg');
		background-size: 100% 100%;
	}

	.slide-banner .button{
		width: 44px;
		height: 88px;
		position: absolute;
		margin-top: -22px;
		top: 100px;
	}
	.slide-banner .next{
		right: 10px;
		left: auto;
		background:url('../images/pre.png') no-repeat center;
	}
	.slide-banner .prev{
		background: url('../images/pre2.png') no-repeat center;
		left: 10px;
		right: auto;
	}
	.slide-banner .button:hover{
		background-color: rgba(7,17,27,0.6);
		cursor: pointer;
	}
	.slide-banner .dots{
		position: absolute;
		right: 20px;
		bottom: 15px;
	}
	.slide-banner .dots span{
		width: 12px;
		height: 12px;
		border-radius: 50%;
		background-color: rgba(7,17,27,0.8);
		display: inline-block;
		margin-right: 5px;
		box-shadow: 0 0 0 2px rgba(255,255,255,0.8) inset;
		cursor: pointer;
	}
	.slide-banner .dots span.point{
		box-shadow: 0 0 0 2px rgba(7,17,27,0.7) inset;
		background-color: #FFF;

	}

/*iPad部分*/
@media screen and (min-width: 768px){
	/*隐藏头部及右侧按钮*/
	header{
		display: none;
	}
	.btn{
		display: none;
	}
	/*把导航栏移动回到正常位置*/
	.list{
		transform: translateY(0px);
		justify-content: space-around;
		margin-left: 20%;
		margin-right: 20%;
		padding-top: 3%;
	}
    .list li{
		float: left;
		width: 10%;
		border-bottom:0px;
		background-color: #b3c6cd;
		text-align: center;
		height: 40px;
		line-height: 40px;
		margin: 0;
		padding: 0;		
	}
	/*对logo,按钮部分做一些调整*/
	section:nth-child(1) .container{
		padding-top: 30px;
		/*padding-bottom: 80px;*/
	}
	section:nth-child(1) .container .logo{
		top: 0px;
		margin:20px 0;
	}
	section:nth-child(1) .container .text{
		top: 0px;
	}
	section:nth-child(1) .container .start{
		top: 0px;
		margin-top: 50px;
	}
	/*对段落文字的宽度做一下调整*/
	section:nth-child(2) .paragraph{
		width: 40%;
	}
	/*把原本是上下排列的文字修改为左右排列*/
	section:nth-child(2) .foot{
		background-color: #f4f4f4;
		height: 80px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	section:nth-child(2) .foot .left{
		color: #bababa;
		margin:0 50px;
	}
	section:nth-child(2) .foot .right{
		margin-right: 50px;
	}
	/*图片区,背景图片铺满容器*/
	section.pics{
		background: url(../img/bg.jpg) no-repeat 100% 100%;
	}
	section.pics p{
		margin-left: 50px;
		padding-left:0px;
	}
	section.pics .box{
		justify-content: center;
		position: relative;
	}

	section.pics .box>div{
		width: 30%;
		height: 230px;
		margin: 10px;
		padding:0;
	}
	/*鼠标滑过图片时,图片放大*/
	section.pics .box>div img:hover{
		transition-property: transform;
		transition-duration: 1s;
		transition-timing-function: ease-in-out;
		transform: scale(1.2);
	}
	/*底部*/
	footer{
		font-size: 16px;
	}
	.layer{
		width: 100%;
		height: 100%;
		background: #000;
		opacity: 0.5;
		z-index: 99999;
		position:fixed;
		top: 0;
		left: 0;
		display:none;
	}
	.layer-mask{
		width: 500px;
		height: 300px;
		background-color: #b3c6cd;
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin:auto;
		z-index: 100000;
		opacity: 0.9;
		display: none;
	}
	.layer-mask .close{
		width: 30px;
		height: 30px;
		line-height: 30px;
		border-radius: 50%;
		float: right;
		/*border:1px solid #fff;*/
		text-align: center;
		margin-top: -15px;
		margin-right: -15px;
		background-color: #b3c6cd;
		color: #fff;
		opacity: 0.5;
	}
	.layer-mask .close:hover{
		transition-property: background-color,color;
		transition-timing-function: ease-in-out;
		transition-duration: .3s;
		cursor: pointer;
		background-color: #afafaf;
		color: #b3c6cd;
	}
	.inp{
		/*background-color: red;*/
		display: flex;
		flex-direction: column;
		width: 90%;
		height: 250px;
		margin: 20px auto;
		align-items: space-between;
		justify-content: space-around;
		padding: 30px;
	}
	.inp .input-group-addon{
		border-radius: 5px 0 0 5px;
	}

	.inp>#submit{
		background-color: #eee;
		height: 35px;
		border: 0px;
		border-radius: 5px;
	}
	.inp>#submit:hover{
		border:1px solid #afafaf;
		background-color: #afafaf;
		border-radius: 5px;
		color: #b3c6cd;
	}
	.slide-banner{
		width: 100%;
		height: 520px;
		background-color: #b3c6cd;
	}
	.slide-banner .main{
		width: 1200px;
		height: 460px;
		/*padding: 10px;*/
		background-color: #bbb;
		margin:0px auto;
		position: relative;
		/*overflow: hidden;*/
	}
	.slide-banner .banner{
		width: 1200px;
		height: 460px;
		margin:0px auto;
		/*overflow: hidden;	*/
		position: relative;
		
	}
	.slide-banner .slider{
		width: 1200px;
		height: 460px;
		background-repeat: no-repeat;
		margin: 0 auto;
		position: absolute;
		display: none;

	}
	.slide-banner .now{
		display: block;
	}
	.slide-banner .slider1{
		background-image: url('../images/1.jpg');
		background-size: 100% 100%;
	}
	.slide-banner .slider2{
		background-image: url('../images/2.jpg');
	}
	.slide-banner .slider3{
		background-image: url('../images/3.jpg');
	}
	.slide-banner .slider4{
		background-image: url('../images/4.jpg');
	}
	.slide-banner .slider5{
		background-image: url('../images/5.jpg');
	}

	.slide-banner .button{
		width: 44px;
		height: 88px;
		position: absolute;
		margin-top: -20px;
		top: 208px;
	}
	.slide-banner .next{
		right: 10px;
		left: auto;
		background:url('../images/pre.png') no-repeat center;
	}
	.slide-banner .prev{
		background: url('../images/pre2.png') no-repeat center;
		left: 10px;
		right: auto;
	}
	.slide-banner .button:hover{
		background-color: rgba(7,17,27,0.6);
		cursor: pointer;
	}
	.slide-banner .dots{
		position: absolute;
		right: 20px;
		bottom: 15px;
	}
	.slide-banner .dots span{
		width: 12px;
		height: 12px;
		border-radius: 50%;
		background-color: rgba(7,17,27,0.8);
		display: inline-block;
		margin-right: 5px;
		box-shadow: 0 0 0 2px rgba(255,255,255,0.8) inset;
		cursor: pointer;
	}
	.slide-banner .dots span.point{
		box-shadow: 0 0 0 2px rgba(7,17,27,0.7) inset;
		background-color: #FFF;

	}

}
