*{
	margin: 0;
	padding: 0;
	list-style:none;
}
body{
	font-size: 14px;
}
a{
	text-decoration: none;
}
.box{
	max-width: 6.4rem;
	margin: 0 auto;
}
.header{
	display: flex;
	height: 44px;
	align-items: center;
	padding: 0 15px;
	background: #ef1313;
}
.header_left{
	margin-right: 15px;
	color: #fff;
}
.header_center{
	flex: 1;
}
.header_center input{
	width: 100%;
	box-sizing:border-box;
	height: 28px;
	border-radius: 8px;
	border: none;
}
.header_right{
	margin-left: 15px;
	color: #fff;8
}
.footer{
	height: 54px;
	width: 100%;
	display: flex;
	position: fixed;
	bottom: 0;
	border-top: 1px solid #ccc;
	text-align: center;
	font-size: 12px;
	background: #fff;
}
.footericon{
	flex: 1;
}
.icon_a{
	display: block;
	margin: 8px 0;
	color: rgba(0,0,0,.8);
}
.iconactive>a,.iconactive>span{
	color: #c9394a;
}
/*banner*/
.banner{
	width: 6.4rem;
	height: 2.6rem;
	overflow: hidden;
	position: relative;
	background: #666;
}
.inner{
	position: relative;
	width: 9999px;
	left: 0;
	top: 0;
}
.innerwraper{
	width: 6.4rem;
	float: left;
}
.innerwraper img{
	width: 100%;
}
.pagination{
	position: absolute;
	bottom: 10px;
	width: 100%;
	text-align: center;
}
.pagination span{
	display:inline-block;
	width: .16rem;
	height: .16rem;
	background-color: #9aa499;
	border-radius: 50%;
	cursor: pointer;
}
.pagination span.active{
	background-color: #fff;
}
/*content*/
.content{
	display: flex;
	flex-wrap: wrap;
	padding-top: 0.1rem;
	background: #fff;
}
.content div{
	width: 25%;
	height: 1.2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.content div img{
	width: .7rem;
	height: .7rem;
	margin-bottom: .07rem;
	border-radius: .35rem;
}
/*title*/
.title{
	height: .4rem;
	background: #f0f0f0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding:.1rem .15rem;
}
.title span:nth-child(2){
	color: #c9394a;
	font-weight: 400;
}
.title span:nth-child(1){
	color: #999;
	font-weight: 400;
}
.items{
	padding: .3rem;
	background: #fff;
}
.item{
	position: relative;
	border-bottom: 1px solid #ccc;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: rgb(204,204,204);
	padding: .3rem 0;
}
.items .item:nth-child(1) .item-left{
	background:url("http://szimg.mukewang.com/5806de7c00014a3105400300-360-202.jpg") no-repeat top center;
	background-size: 90% auto;
}
.items .item:nth-child(2) .item-left{
	background:url("http://szimg.mukewang.com/583e42fb0001e04f05400300-360-202.jpg") no-repeat top center;
	background-size: 90% auto;
}
.items .item:nth-child(3) .item-left{
	background:url("http://szimg.mukewang.com/57ec8a820001c60b05400300-360-202.jpg") no-repeat top center;
	background-size: 90% auto;
}
.items .item:nth-child(4) .item-left{
	background:url("http://szimg.mukewang.com/576b84c10001b1c005400300-360-202.jpg") no-repeat top center;
	background-size: 90% auto;
}
.item-left{
	float: left;
	width: 1.6rem;
	height: 1.2rem;
}
.item-center{
	margin-left: 1.75rem;
	margin-right: 1.5rem;

}
.item-center p:nth-child(1){
	font-size: .18rem;
}
.item-center p:nth-child(2){
	font-size: .14rem;
	color: #999;
}
.item-center p:nth-child(3){
	font-size: .14rem;
	color: #999;
}
.item-center p:nth-child(3) i{
	color: #33b433;
	margin-right: .05rem;
}
.item-center p:nth-child(4){
	font-size: .14rem;
	color: #999;
}
.item-center p:nth-child(4) i{
	margin-right: .05rem;
}
.item-right{
	position: absolute;
	top: 30%;
	right: .5rem;
	color: #c9394a;
}
.item-right span{
	font-size: .6rem;
}
.item-right em{
	font-style: normal;
}
.items .item:nth-child(4){
	margin-bottom: 54px;
}
